.card{
    margin: 2vw;
    width: fit-content;
    text-align: center;
}

.individualFilter{
    margin-right: 1vw;
}

.topBar{
    display: flex;
    flex-direction: row;
}

.numJogadores{
    margin-right: 1vw;
}