.card{
    margin: 2vw;
    width: fit-content;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.individualFilter{
    margin-right: 1vw;
}

.topBar{
    display: flex;
    flex-direction: column;
}

.numJogadores{
    margin-right: 1vw;
    font-size: large;
}

.contentDiv{
    display: flex;
    flex-direction: column;
    min-height: 25vh;
    justify-content: center;
}

.reportBtn{
    background: red !important;
    color: white !important;
}

.whiteBtn{
    background: white !important;
    color: black !important;
}

.word{
    font-weight: bold;
    font-size: x-large;
}